.wrapper .text-image{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 70% 30%;
    padding-bottom: 10%;
    border-bottom:  1px solid #C4C4C4;
}
.wrapper .text-image .image-button .color{
    background-color: #574E48;
    width: 620px;
    height: 425px;
    margin-bottom: 10%;
}
.wrapper .text-image .image-button .color img{
    width: 660px;
    height: 370px;
    padding: 10% 0% 0% 6%;
}
.wrapper .text-image .image-button button{
    border-radius: 30px;
    width: 40%;
    padding: 20px;
    background-color: #BF796F;
    border: none;
    margin:  5% 8%;
    font-size: 1em;
}
.wrapper .text-image .image-button button a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.3em;
}
.wrapper .text-image .text p{
    padding-top: 20%;
    color: #AE8E7F;
    font-size: 1.5em;
}
.detail{
    display: flex;
    justify-content: center;
}
.details .line{
    border-top: solid 1px #C4C4C4;
    width: 20%;
    margin-left: 40%;
}
.details .detail{
    display: flex;
    align-items: center;
}

.details .detail img{
    height: 100px;
    padding: 2%;
}
.details .detail p{
    font-size: 1.5em;
}