/* //text-image// */
.text-image{
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    grid-gap:10%;
}
.text-image .text h2{
    font-size: 3em;
    color: #574E48;
    font-weight: 400;
    padding-bottom: 5%;
}
.text-image .text p{
    color: #837459;
    font-size: 1.4em;
    padding-left: 5%;
}

.text-image .image{
    margin-top: 12.5%;
    background-color: #C4C4C4;
    width: 500px;
}
.text-image .image img{
    margin-top: 15%;
    margin-left: -20%;
}

/* //rooms// */

.room-carousel{
    background-color: #D1B7A8;
    margin: 7% 0;
}
.room-carousel img{
    width: 16.5%;
    height: 180px;
    object-fit: cover;
    padding: 1.5%;
}

/* //Contact// */

.contact .wrapper{
    display: grid;
    grid-template-columns: 42% 58%;
    align-self: center;
    grid-gap:10%;
    padding-bottom: 5%;
    text-align: center;
}
.contact .wrapper h3{
    font-size: 2.5em;
    font-weight: 400;
    color: #4B3D30;
    padding-bottom: 10%;

}

.contact .wrapper p{
    color: #AE8E7F;
    font-weight: 700;
    font-size: 1.1em;
}
.contact-left{
     padding-left: 20%;
}

.contact .contact-left img{
    height: 50px;
    padding: 1% 10%;
}

.contact-left .contact-text{
    display: flex;
    align-items: center;
}

.contact-right{
    padding-left: 5%;
    border-left: solid 1px #D2C5BD;
}

.contact-right img{
    height: 300px;
}